
.clear {
	clear : both;
}

nav {
	float : right;
	width : 354px;
}

nav ul {
	list-style-type : none;
	margin          : 0;
	padding         : 10px 0px 10px 10px; 
}

nav ul li {
	display : inline;
	padding : 7px 0px 7px 7px;
}

.logo-container {
	text-align       : center;
	background-color : #000;
	color            : #fff;
	float            : left;
	width            : 128px;
	padding          : 12px;
}

.banner-content {
	text-align       : center;
	background-color : #000;
	color            : #fff;
	padding          : 50px;
	margin-top       : 20px;
	margin-bottom    : 20px;
}

.left-content {
	float            : left;
	width            : 278px;
	background-color : #000;
	color            : #fff;
	text-align       : center; 
	min-height       : 559px;
	margin-right     : 14px;
}

p {
	text-align : justify;
}

.right-content {
	position : relative;;
}

.gophers {
}

img {
    float: left;
    border: 1px solid black;
    margin: 0px 14px 10px 0px;
    padding : 30px;
    width : 295px;
}

.footer {
	text-align       : center;
	border           : 1px solid #ccc;
	color            : #fff;
	background-color : #000;
	bottom           : 0;
	padding          : 33px;
}

@media only screen and (max-width: 767px) {
    /* phones */

	nav {
		float : none;
		width : 100%;
	}    

	nav ul li {
		display    : block;
		text-align : center;
	}

	.logo-container {
		float : none;
		width : 97%;
	}

	.left-content {
		float            : none;
		width            : 100%;
		background-color : #000;
		color            : #fff;
		text-align       : center; 
		min-height       : 187px;
		margin-right     : 0 !important;
	}

	.gophers img {
		float : none !important;
	}

	.box {
		margin : 0 auto;
		width  : 50%;
	}

}